<div class="btn-group btn-group-justified" id="opcionActor">
    <div class="btn-group">
        <button type="button" class="btn btn-nav" id="actor-1">
            <span class="glyphicon glyphicon-picture"></span>
            <p>Novela</p>
        </button>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-nav" id="actor-2">
            <span class="glyphicon glyphicon-film"></span>
            <p>Cine</p>
        </button>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-nav" id="actor-3">
            <span class="glyphicon glyphicon-facetime-video"></span>
            <p>Documental</p>
        </button>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-nav" id="actor-4">
            <span class="glyphicon glyphicon-user"></span>
            <p>Extras</p>
        </button>
    </div>  
</div>

<div class="btn-group btn-group-justified" id="opcionAnimador">
    <div class="btn-group">
        <button type="button" class="btn btn-nav" id="anima-1">
            <span class="glyphicon glyphicon-cd"></span>
            <p>Fiestas</p>
        </button>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-nav" id="anima-2">
            <span class="glyphicon glyphicon-film"></span>
            <p>Presentaciones</p>
        </button>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-nav" id="anima-3">
            <span class="glyphicon glyphicon-facetime-video"></span>
            <p>Sorteo</p>
        </button>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-nav" id="anima-4">
            <span class="glyphicon glyphicon-user"></span>
            <p>Eventos Especiales</p>
        </button>
    </div>  
</div>

<div class="btn-group btn-group-justified" id="opcionCantante">
    <div class="btn-group">
        <button type="button" class="btn btn-nav" id="cantan-1">
            <span class="glyphicon glyphicon-cd"></span>
            <p>Rock</p>
        </button>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-nav" id="cantan-2">
            <span class="glyphicon glyphicon-film"></span>
            <p>Salsa</p>
        </button>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-nav" id="cantan-3">
            <span class="glyphicon glyphicon-facetime-video"></span>
            <p>Raegueton</p>
        </button>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-nav" id="cantan-4">
            <span class="glyphicon glyphicon-user"></span>
            <p>Vallenato</p>
        </button>
    </div>  
    <div class="btn-group">
        <button type="button" class="btn btn-nav" id="cantan-4">
            <span class="glyphicon glyphicon-user"></span>
            <p>Folclor</p>
        </button>
    </div>  
    <div class="btn-group">
        <button type="button" class="btn btn-nav" id="cantan-4">
            <span class="glyphicon glyphicon-user"></span>
            <p>Corridos</p>
        </button>
    </div> 
</div>



<div class="btn-group btn-group-justified" id="opcionModelos">
    <div class="btn-group">
        <button type="button" class="btn btn-nav" id="model-1">
            <span class="glyphicon glyphicon-cd"></span>
            <p>Deporte y Ejercicio</p>
        </button>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-nav" id="model-2">
            <span class="glyphicon glyphicon-film"></span>
            <p>Manos y Pies</p>
        </button>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-nav" id="model-3">
            <span class="glyphicon glyphicon-facetime-video"></span>
            <p>Promosionales</p>
        </button>
    </div>
    
</div>


